<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %> 

<body>

    <header>
        <%- include('./partials/nav') %> 
    </header>

    <main>
        <h1 style="font-weight: normal;" >About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium aliquid, explicabo rerum enim iste sequi magni impedit alias quasi, unde error culpa sit minima ea autem, officiis harum esse consectetur. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet soluta explicabo consequuntur, beatae similique molestias recusandae obcaecati et numquam aliquid dicta qui maiores inventore dolorum quae optio cumque iusto perspiciatis!</p>
    </main>
</body>
</html>